/*
 * Globals
 */
a, a:hover {
  text-decoration: none;
}

.section-heading {
  margin-bottom: 0;
  font-size: calc(100% + 1.3vw);
}

/*
  * Base structure
  */
html, body {
  height: 100vh;
  width: 100%;
  background-color: #0E185F;
  overflow: auto;
}

body {
  text-align: center;
  justify-content: center;
  color: #E8FFC2;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem #E8FFC2;
  font-family: 'Kalam', cursive;
}

h2 {
  font-style: oblique;
}

.container-fluid {
  padding: 10% 10%;
}

/*
 * Header
 */
.navigation {
  position: fixed;
  padding: 0 2%;
  z-index: 1;
  font-size: 1.2rem;
  top: 0;
}

.navbar-dark .navbar-brand {
  color: #E8FFC2;
  width: 5rem;
}

.nav-menu {
  background: rgba(12, 24, 95, 0.9);
  align-self: self-start;
  padding-top: 1%;
  border-radius: 0.4em;
  border: 2px groove rgba(47, 164, 255, 0.6);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(232, 255, 194, .75);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #E8FFC2;
}

.nav-link {
  border-bottom: 2px groove rgba(47, 164, 255, 0.6);
}

.nav-link-bottom {
  border-bottom: none;
}

.nav-link-text {
  width: 100px;
  display: inline-block;
  text-align: center;
}

/* For tablets: */
@media (min-width: 768px) {
  .nav-link-text {
    display: block;
    width: 100%;
  }

  .nav-menu {
    background: transparent;
    border: none;
  }

  .nav-link {
    border-bottom: none;
  }
}

/* For Desktops: */
@media (min-width: 992px) {
  .navbar-dark .navbar-brand {
    width: 6rem;
  }
}

/*
 * About
 */
#about {
  scroll-margin-top: 6em;
  height: 100vh;
}

.about-me {
  margin: 20% 0;
  padding-top: 20%;
}

.about-pic {
  width: 40%;
  border-bottom: 10px solid #38252f;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.about-text {
  padding: 2% 6%;
  font-size: calc(100% + 0.3vw);
}

/* For tablets: */
@media (min-width: 768px) {
  #about {
    scroll-margin-top: 8em;
  }

  /* .about-me {
    padding-top: 10%;
  } */
  .about-text {
    padding: 1% 10%;
  }
}

/* For Desktops: */
@media (min-width: 992px) {
  #about {
    scroll-margin-top: 7em;
  }

  .about-me {
    margin: 8% 0;
    padding-top: 5%;
  }

  .about-pic {
    width: 20%;
  }

  .about-text {
    padding: 0% 30%;
  }
}

@media (min-width: 1700px) {
  #about {
    scroll-margin-top: 9em;
  }
}

/*
 * Publications
 */
#publications {
  scroll-margin-top: 7em;
}

.papers-pub {
  padding: 0 13%;
}

.pub-table {
  color: #E8FFC2;
  text-align: justify;
}

.table-item {
  font-family: 'Pangolin', cursive;
  font-size: 0.8rem;
}

.table-link {
  color: #E8FFC2;
}

.table-link:hover {
  color: #2FA4FF;
}

/* For tablets: */
@media (min-width: 768px) {
  #publications {
    scroll-margin-top: 10em;
    height: 100vh;
  }

  .table-item {
    font-size: 0.9rem;
  }
}

/* For Desktops: */
@media (min-width: 992px) {
  #publications {
    scroll-margin-top: 2.8em;
  }

  .papers-pub {
    padding: 0 23%;
  }

  .table-item {
    font-size: 1rem;
  }
}

@media (min-width: 1700px) {
  #publications {
    scroll-margin-top: 8em;
  }

  .table-item {
    font-size: 1.15rem;
  }
}

/*
 * portfolio
 */
#portfolio {
  scroll-margin-top: 4em;
}

.port {
  margin-top: 15%;
  padding-bottom: 0;
}

.portfolio-heading {
  padding-bottom: 0.5rem;
}

.projects-row {
  justify-content: center;
  padding: 10px;
  width: 82%;
  margin: auto;
  align-items: flex-end;
  flex-direction: column;
}

.project {
  border: 1px solid rgba(0, 255, 221, 0.25);
  border-radius: 0.4rem;
  box-shadow: 1px 0rem 3rem 10px rgba(47, 164, 255, 0.6);
  background-color: rgb(22, 59, 135);
  overflow: auto;
  margin: 10px 20px 10px 0;
  padding-left: 0;
  padding-right: 0;
  height: 23rem;
}

.pj-img {
  display: inline-block;
  width: 100%;
  height: 50%;
  border-radius: 0.4rem;
  box-shadow: 0 1rem 3rem rgba(47, 164, 255, 0.6);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.pj-info {
  display: inline-block;
  width: 100%;
}

.pj-heading {
  padding: 2% 0 2% 0;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.pj-txt {
  font-weight: 100;
  font-size: 1.1rem;
  text-align: left;
  padding: 2% 3.5%;
  margin-bottom: 0;
}

.lng-icons {
  text-align: left;
  padding: 0 2% 1% 2%;
  height: 25%;
}

.logo-py, .logo-css, .logo-html, .logo-js {
  height: 1.5rem;
  margin: 1%;
}

.logo-bs {
  height: 1.6rem;
  margin: 1%;
}

.code-link, .site-link {
  color: #F473B9;
  font-size: 1rem;
  font-weight: 400;
}

.code-link:hover, .site-link:hover {
  color: #FFBDE6;
}

/* For tablets: */
@media (min-width: 540px) {
  #portfolio {
    scroll-margin-top: 2em;
  }

  .portfolio-heading {
    padding-bottom: 1.4rem;
  }

  .projects-row {
    width: 100%;
    flex-direction: row;
  }

  .project {
    padding-right: 15px;
    height: 9.8rem;
  }

  .pj-img {
    width: 36%;
    float: left;
    height: 100%;
  }

  .pj-info {
    width: 64%;
  }
}

/* For desktops: */
@media (min-width: 992px) and (max-width: 1140px) {
  .col-mdlg {
    flex-basis: 47%;
    max-width: 47%;
  }
}

@media (min-width: 992px) {
  #portfolio {
    scroll-margin-top: -2em;
  }

  .projects-row {
    width: 100%;
    flex-direction: row;
  }

  .project {
    height: 11.2rem;
  }

  .pj-img {
    width: 47%;
    float: left;
    height: 100%;
  }

  .pj-info {
    width: 53%;
  }

  .pj-heading {
    font-size: calc(1.04rem + 0.263vw);
  }

  .pj-txt {
    font-size: calc(0.75rem + 0.395vw);
  }
}

@media (min-width: 1700px) {
  .port {
    margin-bottom: 3.5%;
  }
}

/*
 * Footer
 */
.contact {
  width: 100%;
  text-align: center;
  bottom: 2%;
  padding: 1% 0 0 0;
}

.f-icon {
  padding: 1% 0.25rem;
  color: #00FFDD;
  font-size: 1.5rem;
}

.f-icon:hover {
  color: #2FA4FF;
}

.footcred, .btn-footer {
  color: rgba(232, 255, 194, .4);
  font-size: 0.6rem;
}

.btn-footer, .btn-footer:focus {
  width: 200px;
  padding: 0.1rem 0.7rem;
  box-shadow: none;
}

.popover-header {
  background-color: rgb(47, 164, 255);
  font-size: 0.7rem;
  color: #222;
  padding-top: 1%;
  padding-bottom: 1%;
}

.popover-body {
  color: rgb(100, 100, 100);
  font-size: 0.6rem;
  padding-top: 1%;
  padding-bottom: 1%;
}

[title~=logo], [title~=license] {
  color: rgb(50, 50, 50);
  margin-bottom: 1px;
}

/* For tablets: */
@media (min-width: 540px) {}

/* For desktops: */
@media (min-width: 992px) {
  .f-icon {
    font-size: 1.8rem;
  }
}

/*
used colors:
#0E185F rgb(14, 24, 95)
#2FA4FF rgb(47, 164, 255)
#00FFDD rgb(0, 255, 221)
#E8FFC2 rgb(232, 255, 194)
*/
